.mainDois{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;

    p{
        color: white;
        font-size: 25px;
        font-weight: 1000;
    }
}