main {
    background-color: black;    
    padding: 0 80px 30px 80px;
    h1{
        color: white;
        padding: 100px 80px;
        font-size: 60px;
        font-weight: 900;
    }
}
.mainUm{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    p{
        color: white;
        font-size: 25px;
        font-weight: 1000;
    }
}