@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");
.sectionUm {
  height: 100vh;
  background-color: black;
  background-image: url(/assets/images/pages/index/sectionUm-index.jpg);
  background-size: cover;
}
.sectionUm .conteudo {
  position: absolute;
  height: 100%;
  width: 80%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: white;
}
.sectionUm .conteudo h1 {
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 800;
  line-height: 75px;
}
.sectionUm .conteudo p {
  font-size: 20px;
}
.sectionUm .conteudo a {
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.sectionUm .conteudo a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}

.sectionDois {
  margin-top: 100px;
}
.sectionDois h2 {
  margin-bottom: 8%;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}
.sectionDois .centro {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sectionDois .centro p {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 5rem;
}
.sectionDois .centro .cardio {
  background-image: url(/assets/images/pages/index/imgCardio.webp);
  background-size: cover;
  width: 490px;
  height: 400px;
  border-radius: 4px;
}
.sectionDois .centro .AirYoga {
  background-image: url(/assets/images/pages/index/imgAirYoga.webp);
  background-size: cover;
  width: 490px;
  height: 400px;
  border-radius: 4px;
}
.sectionDois .centro .Lifting {
  background-image: url(/assets/images/pages/index/imgLifting.webp);
  background-size: cover;
  width: 490px;
  height: 400px;
  border-radius: 4px;
}
.sectionDois .centro .pressBack {
  background-image: url(/assets/images/pages/index/imgPressEBack.jpg);
  background-size: cover;
  width: 490px;
  height: 400px;
  border-radius: 4px;
}
.sectionDois .button-sectionDois {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.sectionDois .button-sectionDois a {
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.sectionDois .button-sectionDois a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}

.sectionTres {
  background-color: black;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px;
}
.sectionTres .conteudoSectionTres {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  width: 40%;
}
.sectionTres .conteudoSectionTres .divH2 h2 {
  font-size: 50px;
  font-weight: bolder;
}
.sectionTres .conteudoSectionTres .divParagrafo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sectionTres .conteudoSectionTres .divParagrafo p {
  text-align: justify;
}
.sectionTres .conteudoSectionTres a {
  background-color: red;
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.sectionTres .conteudoSectionTres a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}
.sectionTres .imgSectionTres {
  height: 100%;
}
.sectionTres .imgSectionTres img {
  height: 100%;
  width: 600px;
}

.sectionQuatro {
  background-color: #1E1E1E;
  color: white;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 700px;
}
.sectionQuatro .conteudoSectionQuatro {
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  width: 40%;
}
.sectionQuatro .conteudoSectionQuatro .divH2 h2 {
  font-size: 50px;
  font-weight: bolder;
}
.sectionQuatro .conteudoSectionQuatro .divParagrafo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sectionQuatro .conteudoSectionQuatro .divParagrafo p {
  text-align: justify;
}
.sectionQuatro .conteudoSectionQuatro a {
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.sectionQuatro .conteudoSectionQuatro a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}
.sectionQuatro .imgSectionQuatro img {
  height: 680px;
  width: 600px;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
h1, h2, p, h3, label, input, textarea, button {
  font-family: "DM Sans";
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: "DM Sans";
  background-color: #FF1010;
}

img {
  width: 490px;
  height: 400px;
  background-size: cover;
}

header {
  background-color: black;
}
header nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
}
header nav a {
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-weight: 900;
}
header nav .mobile-menu {
  cursor: pointer;
  display: none;
}
header nav .mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}
header nav .logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
header nav .nav-list {
  display: flex;
  gap: 35px;
  letter-spacing: 2px;
}

.textEButoonPadraoDoSite {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 0 80px;
  height: 360px;
}
.textEButoonPadraoDoSite h2 {
  font-size: 40px;
  font-weight: bolder;
}
.textEButoonPadraoDoSite a {
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.textEButoonPadraoDoSite a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}

footer {
  height: 450px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 80px;
}
footer .divWorking {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .divAdress {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  gap: 30px;
}

@media screen and (max-width: 540px) {
  body {
    overflow-x: hidden;
  }
  header nav .nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: white;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  header nav .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  header nav .nav-list.active {
    transform: translateX(0);
  }
  header nav .mobile-menu {
    display: block;
  }
  .textEButoonPadraoDoSite {
    padding: 0 15px;
  }
  .textEButoonPadraoDoSite h2 {
    font-size: 25px;
  }
  footer {
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    height: 250px;
    padding-left: 20px;
  }
  footer .divWorking {
    gap: 10px;
  }
  footer .divAdress {
    margin-left: 0;
    gap: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

@media screen and (max-width: 540px) {
  .sectionUm {
    position: relative;
    background-image: url(/assets/images/pages/responsive/index/sectionUmIndexResponsive.webp);
    background-position: center right;
  }
  .sectionUm .conteudo {
    width: 100%;
    padding: 0 15px 0px 15px;
  }
  .sectionUm .conteudo h1 {
    width: 80%;
    line-height: 40px;
    font-size: 30px;
  }
  .sectionUm .conteudo p {
    width: 100%;
    font-size: 19px;
  }
}
@media screen and (max-width: 540px) {
  .sectionDois h2 {
    font-size: 40px;
  }
  .sectionDois .centro {
    justify-content: center;
  }
  .sectionDois .centro p {
    text-align: center;
  }
  .sectionDois .centro .cardio {
    background-image: url(/assets/images/pages/responsive/index/imgCardioResponsive.webp);
    width: 350px;
    height: 500px;
  }
  .sectionDois .centro .airYoga {
    background-image: url(/assets/images/pages/responsive/index/imgAirYogaResponsive.webp);
    width: 350px;
    height: 500px;
  }
  .sectionDois .centro .lifting {
    background-image: url(/assets/images/pages/responsive/index/imgLiftingResponsive.webp);
    width: 350px;
    height: 500px;
  }
  .sectionDois .centro .pressBack {
    background-image: url(/assets/images/pages/responsive/index/imgPressEBackResponsive.webp);
    width: 350px;
    height: 500px;
  }
}
@media screen and (max-width: 540px) {
  .sectionTres {
    background-color: transparent;
    background-image: url(/assets/images/pages/responsive/index/imgAboutBronxResponsive.webp);
    background-size: cover;
  }
  .sectionTres .conteudoSectionTres {
    width: 100%;
    padding-left: 0;
  }
  .sectionTres .conteudoSectionTres .divH2 {
    text-align: center;
  }
  .sectionTres .conteudoSectionTres .divParagrafo {
    padding: 0 15px;
  }
  .sectionTres .conteudoSectionTres .divParagrafo p {
    font-size: 17px;
  }
  .sectionTres .conteudoSectionTres a {
    margin-left: 15px;
    justify-content: center;
    align-items: center;
  }
  .imgSectionTres {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .sectionQuatro {
    background-image: url(/assets/images/pages/responsive/index/imgClassesResponsive.webp);
    background-size: cover;
    background-position: center center;
  }
  .sectionQuatro .conteudoSectionQuatro {
    padding-right: 0;
    width: 100%;
  }
  .sectionQuatro .conteudoSectionQuatro .divH2 {
    text-align: center;
  }
  .sectionQuatro .conteudoSectionQuatro .divParagrafo {
    padding: 0 15px;
  }
  .sectionQuatro .conteudoSectionQuatro .divParagrafo p {
    font-size: 17px;
  }
  .sectionQuatro .conteudoSectionQuatro a {
    margin-left: 15px;
    justify-content: center;
    align-items: center;
  }
  .sectionQuatro .imgSectionQuatro img {
    display: none;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../../scss/global/_fonts.scss%22,%22../../../scss/pages/index/partials/_sectionUm.scss%22,%22../../../scss/pages/index/partials/_sectionDois.scss%22,%22../../../scss/pages/index/partials/_sectionTres.scss%22,%22../../../scss/pages/index/partials/_sectionQuatro.scss%22,%22../../../scss/global/_elements.scss%22,%22../../../scss/global/_normalize.scss%22,%22../../../scss/pages/responsive/indexResponsive/partials/_sectionUmResponsive.scss%22,%22../../../scss/pages/responsive/indexResponsive/partials/_sectionDoisResponsive.scss%22,%22../../../scss/pages/responsive/indexResponsive/partials/_sectionTresResponsive.scss%22,%22../../../scss/pages/responsive/indexResponsive/partials/_sectionQuatroResponsive.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAQ;ACAR;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;;;ACnChB;EACI;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAEJ;EACI;EACA;EACA;EACA;EACA;;AAEJ;EACI;EACA;EACA;EACA;EACA;;AAEJ;EACI;EACA;EACA;EACA;EACA;;AAIR;EACI;EACA;EACA;EACA;;AAEA;EACA;EACA;EACA;EACA;;AAEI;EACI;;;AChEhB;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAGI;EACI;EACA;;AAIR;EACI;EACA;EACA;;AAEA;EACI;;AAIR;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAKZ;EACI;;AACA;EACI;EACA;;;ACnDZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAGI;EACI;EACA;;AAIR;EACI;EACA;EACA;;AAEA;EACI;;AAIR;EACI;EACA;EACA;EACA;;AAEA;EACI;;AAMR;EACI;EACA;;;AClDZ;EACI;IACI;IACA;;EAGJ;IACI;IACA;;;AAKR;EACI;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;;AAEA;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAIR;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;;AAEI;EACI;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;;;AAKhB;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;;AAKR;EACI;IACI;;EAKI;IACI;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;;EAEA;IACI;IACA;;EAIR;IACI;;EAGJ;IACI;;EAMZ;IACI;;EAEA;IACI;;EAIR;IACI;IACA;IACA;IACA;IACA;IACA;IACA;;EAEA;IACI;;EAGJ;IACI;IACA;;;ACxLZ;EACI;EACA;EACA;EACA;;;ACFJ;EACI;IACI;IACA;IACA;;EAEA;IACI;IACA;;EAEA;IACI;IACA;IACA;;EAGJ;IACI;IACA;;;AClBhB;EAEQ;IACI;;EAGJ;IACI;;EAEA;IACI;;EAGJ;IACI;IACA;IACA;;EAGJ;IACI;IACA;IACA;;EAGJ;IACI;IACA;IACA;;EAGJ;IACI;IACA;IACA;;;AClChB;EACI;IACI;IACA;IACA;;EAEA;IACI;IACA;;EAEA;IACI;;EAGJ;IACI;;EAEA;IACI;;EAIR;IACI;IACA;IACA;;EAKZ;IACI;;;AC/BR;EACI;IACI;IACA;IACA;;EAEA;IACI;IACA;;EAEA;IACI;;EAGJ;IACI;;EAEA;IACI;;EAIR;IACI;IACA;IACA;;EAKJ;IACI%22,%22file%22:%22index.css%22%7D */
