@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");
header {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 85px;
  padding: 0 80px;
}
header .titulo {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  margin-right: 50px;
}
header .titulo:hover {
  text-decoration: none;
}
header nav {
  display: flex;
  gap: 25px;
}
header nav a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}
header nav a:hover {
  text-decoration: underline;
}

.sectionUm {
  height: 100vh;
  background-color: black;
  background-image: url(/assets/images/pages/index/sectionUm-index.jpg);
  background-size: cover;
}
.sectionUm .conteudo {
  position: absolute;
  height: 100%;
  width: 80%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: white;
}
.sectionUm .conteudo h1 {
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 800;
  line-height: 75px;
}
.sectionUm .conteudo p {
  font-size: 20px;
}
.sectionUm .conteudo a {
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.sectionUm .conteudo a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}

.sectionDois {
  position: relative;
  padding: 10px 80px;
  padding: 0 80px;
  margin-top: 100px;
}
.sectionDois h2 {
  margin-bottom: 8%;
  font-size: 50px;
  font-weight: 900;
}
.sectionDois .centro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 1000;
}
.sectionDois .centro .cardio {
  margin-bottom: 100px;
}
.sectionDois .button-sectionDois {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 7% 0;
}
.sectionDois .button-sectionDois a {
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.sectionDois .button-sectionDois a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}

.sectionTres {
  background-color: black;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px;
}
.sectionTres .conteudoSectionTres {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  width: 40%;
}
.sectionTres .conteudoSectionTres .divH2 h2 {
  font-size: 50px;
  font-weight: bolder;
}
.sectionTres .conteudoSectionTres .divParagrafo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sectionTres .conteudoSectionTres .divParagrafo p {
  text-align: justify;
}
.sectionTres .conteudoSectionTres a {
  background-color: red;
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.sectionTres .conteudoSectionTres a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}
.sectionTres .imgSectionTres {
  height: 100%;
}
.sectionTres .imgSectionTres img {
  height: 100%;
  width: 600px;
}

.sectionQuatro {
  background-color: #1E1E1E;
  color: white;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 700px;
}
.sectionQuatro .conteudoSectionQuatro {
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  width: 40%;
}
.sectionQuatro .conteudoSectionQuatro .divH2 h2 {
  font-size: 50px;
  font-weight: bolder;
}
.sectionQuatro .conteudoSectionQuatro .divParagrafo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sectionQuatro .conteudoSectionQuatro .divParagrafo p {
  text-align: justify;
}
.sectionQuatro .conteudoSectionQuatro a {
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.sectionQuatro .conteudoSectionQuatro a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}
.sectionQuatro .imgSectionQuatro img {
  height: 680px;
  width: 600px;
}

.sectionCinco {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 0 80px;
  height: 360px;
}
.sectionCinco h2 {
  font-size: 40px;
  font-weight: bolder;
}
.sectionCinco a {
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.sectionCinco a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}

.sectionSeis {
  height: 450px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 80px;
}
.sectionSeis .divWorking {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sectionSeis .divAdress {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  gap: 30px;
}

h1, h2, p, h3, label, input, textarea, button {
  font-family: "DM Sans";
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: "DM Sans";
  background-color: #FF1010;
}

img {
  width: 490px;
  height: 400px;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../../scss/global/_fonts.scss%22,%22../../../scss/pages/index/partials/_sectionUm.scss%22,%22../../../scss/pages/index/partials/_sectionDois.scss%22,%22../../../scss/pages/index/partials/_sectionTres.scss%22,%22../../../scss/pages/index/partials/_sectionQuatro.scss%22,%22../../../scss/pages/index/partials/_sectionCinco.scss%22,%22../../../scss/pages/index/partials/_sectionSeis.scss%22,%22../../../scss/global/_elements.scss%22,%22../../../scss/global/_normalize.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAQ;ACAR;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAIR;EACI;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;;;AAMhB;EACI;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;;;ACzEhB;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAIR;EACI;EACA;EACA;EACA;;AAEA;EACA;EACA;EACA;EACA;;AAEI;EACI;;;ACrChB;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAGI;EACI;EACA;;AAIR;EACI;EACA;EACA;;AAEA;EACI;;AAIR;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAKZ;EACI;;AACA;EACI;EACA;;;ACnDZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAGI;EACI;EACA;;AAIR;EACI;EACA;EACA;;AAEA;EACI;;AAIR;EACI;EACA;EACA;EACA;;AAEA;EACI;;AAMR;EACI;EACA;;;AClDZ;EACI;EACA;EACA;EACA;EACA;EACA;;AAEI;EACI;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;;;ACpBhB;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;;AClBR;EACI;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AChBJ;EACI;EACA;EACA;EACA%22,%22file%22:%22index.css%22%7D */
