@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");
@media screen and (max-width: 540px) {
  .sectionUm {
    position: relative;
    background-image: url(/assets/images/pages/responsive/index/sectionUmIndexResponsive.webp);
    background-position: center right;
  }
  .sectionUm .conteudo {
    width: 100%;
    padding: 0 15px 0px 15px;
  }
  .sectionUm .conteudo h1 {
    width: 80%;
    line-height: 40px;
    font-size: 30px;
  }
  .sectionUm .conteudo p {
    width: 100%;
    font-size: 19px;
  }
}
@media screen and (max-width: 540px) {
  .sectionDois h2 {
    font-size: 40px;
  }
  .sectionDois .centro .cardio {
    background-image: url(/assets/images/pages/responsive/index/imgCardioResponsive.webp);
    width: 350px;
    height: 500px;
  }
  .sectionDois .centro .airYoga {
    width: 350px;
    height: 500px;
  }
  .sectionDois .centro .lifting {
    width: 350px;
    height: 500px;
  }
}
@media screen and (max-width: 540px) {
  .sectionTres {
    background-color: transparent;
    background-image: url(/assets/images/pages/responsive/index/imgAboutBronxResponsive.webp);
    background-size: cover;
  }
  .sectionTres .conteudoSectionTres {
    width: 100%;
    padding-left: 0;
  }
  .sectionTres .conteudoSectionTres .divH2 {
    text-align: center;
  }
  .sectionTres .conteudoSectionTres .divParagrafo {
    padding: 0 15px;
  }
  .sectionTres .conteudoSectionTres .divParagrafo p {
    font-size: 17px;
  }
  .sectionTres .conteudoSectionTres a {
    margin-left: 15px;
    justify-content: center;
    align-items: center;
  }
  .imgSectionTres {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .sectionQuatro {
    background-image: url(/assets/images/pages/responsive/index/imgClassesResponsive.webp);
    background-size: cover;
    background-position: center center;
  }
  .sectionQuatro .conteudoSectionQuatro {
    padding-right: 0;
    width: 100%;
  }
  .sectionQuatro .conteudoSectionQuatro .divH2 {
    text-align: center;
  }
  .sectionQuatro .conteudoSectionQuatro .divParagrafo {
    padding: 0 15px;
  }
  .sectionQuatro .conteudoSectionQuatro .divParagrafo p {
    font-size: 17px;
  }
  .sectionQuatro .conteudoSectionQuatro a {
    margin-left: 15px;
    justify-content: center;
    align-items: center;
  }
  .sectionQuatro .imgSectionQuatro img {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .sectionCinco {
    padding: 0 15px;
  }
  .sectionCinco h2 {
    font-size: 25px;
  }
}
h1, h2, p, h3, label, input, textarea, button {
  font-family: "DM Sans";
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: "DM Sans";
  background-color: #FF1010;
}

img {
  width: 490px;
  height: 400px;
  background-size: cover;
}

header {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 85px;
  padding: 0 80px;
}
header .titulo {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  margin-right: 50px;
}
header .titulo:hover {
  text-decoration: none;
}
header nav {
  display: flex;
  gap: 25px;
}
header nav a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}
header nav a:hover {
  text-decoration: underline;
}

footer {
  height: 450px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 80px;
}
footer .divWorking {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .divAdress {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  gap: 30px;
}

@media screen and (max-width: 540px) {
  footer {
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    height: 250px;
    padding-left: 20px;
  }
  footer .divWorking {
    gap: 10px;
  }
  footer .divAdress {
    margin-left: 0;
    gap: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../../../scss/global/_fonts.scss%22,%22../../../../scss/pages/responsive/indexResponsive/partials/_sectionUmResponsive.scss%22,%22../../../../scss/pages/responsive/indexResponsive/partials/_sectionDoisResponsive.scss%22,%22../../../../scss/pages/responsive/indexResponsive/partials/_sectionTresResponsive.scss%22,%22../../../../scss/pages/responsive/indexResponsive/partials/_sectionQuatroResponsive.scss%22,%22../../../../scss/pages/responsive/indexResponsive/partials/_sectionCincoResponsive.scss%22,%22../../../../scss/global/_elements.scss%22,%22../../../../scss/global/_normalize.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAQ;ACER;EACI;IACI;IACA;IACA;;EAEA;IACI;IACA;;EAEA;IACI;IACA;IACA;;EAGJ;IACI;IACA;;;AClBhB;EAEQ;IACI;;EAIA;IACI;IACA;IACA;;EAGJ;IACI;IACA;;EAGJ;IACI;IACA;;;ACpBhB;EACI;IACI;IACA;IACA;;EAEA;IACI;IACA;;EAEA;IACI;;EAGJ;IACI;;EAEA;IACI;;EAIR;IACI;IACA;IACA;;EAKZ;IACI;;;AC/BR;EACI;IACI;IACA;IACA;;EAEA;IACI;IACA;;EAEA;IACI;;EAGJ;IACI;;EAEA;IACI;;EAIR;IACI;IACA;IACA;;EAKJ;IACI;;;AC/BhB;EACI;IACI;;EAEA;IACI;;;ACPZ;EACI;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAIR;EACI;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;;;AAMhB;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;;AAKR;EACI;IACI;IACA;IACA;IACA;IACA;IACA;IACA;;EAEA;IACI;;EAGJ;IACI;IACA;;;AC/FZ;EACI;EACA;EACA;EACA%22,%22file%22:%22indexResponsive.css%22%7D */
