@use '../../../../global/variables';

@media screen and (max-width:540px) {
    .sectionDois{
        h2{
            font-size: 40px;
        }

        .centro{
            justify-content: center;

            p{
                text-align: center;
            }

            .cardio{
                background-image: url(/assets/images/pages/responsive/index/imgCardioResponsive.webp);
                width: 350px;
                height: 500px;
            }

            .airYoga{
                background-image: url(/assets/images/pages/responsive/index/imgAirYogaResponsive.webp);
                width: 350px;
                height: 500px;
            }

            .lifting{
                background-image: url(/assets/images/pages/responsive/index/imgLiftingResponsive.webp);
                width: 350px;
                height: 500px;
            }

            .pressBack{
                background-image: url(/assets/images/pages/responsive/index/imgPressEBackResponsive.webp);
                width: 350px;
                height: 500px;
            }
        }
    }
}