header{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    padding: 0 80px;

    
    .titulo{
        background-color: transparent;
        color: white;
        text-decoration: none;
        font-weight: 800;
        font-size: 20px;
        margin-right: 50px;
    }
    
    nav{
        display: flex;
        gap: 25px;

        a{
            text-decoration: none;
            background-color: transparent;
            color: white;

            &:hover{
                text-decoration: underline;
            }
        }

        .pricesPlans{
            text-decoration: underline;
        }
    }
}