@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");
main {
  background-color: black;
  padding: 0 80px 30px 80px;
}
main h1 {
  color: white;
  padding: 100px 80px;
  font-size: 60px;
  font-weight: 900;
}

.mainConteudo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.mainConteudo p {
  color: white;
  font-size: 25px;
  font-weight: 1000;
}

h1, h2, p, h3, label, input, textarea, button {
  font-family: "DM Sans";
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: "DM Sans";
  background-color: #FF1010;
}

img {
  width: 490px;
  height: 400px;
  background-size: cover;
}

header {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 85px;
  padding: 0 80px;
}
header .titulo {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  margin-right: 50px;
}
header .titulo:hover {
  text-decoration: none;
}
header nav {
  display: flex;
  gap: 25px;
}
header nav a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}
header nav a:hover {
  text-decoration: underline;
}

.textEButoonPadraoDoSite {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 0 80px;
  height: 360px;
}
.textEButoonPadraoDoSite h2 {
  font-size: 40px;
  font-weight: bolder;
}
.textEButoonPadraoDoSite a {
  width: 200px;
  height: 50px;
  color: white;
  text-decoration: none;
}
.textEButoonPadraoDoSite a:hover {
  background-color: rgba(255, 0, 0, 0.849);
}

footer {
  height: 450px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 80px;
}
footer .divWorking {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .divAdress {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  gap: 30px;
}

@media screen and (max-width: 540px) {
  .textEButoonPadraoDoSite {
    padding: 0 15px;
  }
  .textEButoonPadraoDoSite h2 {
    font-size: 25px;
  }
  footer {
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    height: 250px;
    padding-left: 20px;
  }
  footer .divWorking {
    gap: 10px;
  }
  footer .divAdress {
    margin-left: 0;
    gap: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

@media screen and (max-width: 540px) {
  main {
    padding: 0;
    flex-direction: column;
    align-self: center;
  }
  main h1 {
    font-size: 45px;
    padding: 40px 0;
    text-align: center;
  }
  .mainConteudo {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
  }
  .mainConteudo div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainConteudo div img {
    width: 95%;
  }
  .mainConteudo div p {
    margin-bottom: 90px;
    margin-top: 5px;
    align-self: start;
    padding-left: 20px;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../../scss/global/_fonts.scss%22,%22../../../scss/pages/classe/partials/_mainConteudo.scss%22,%22../../../scss/global/_elements.scss%22,%22../../../scss/global/_normalize.scss%22,%22../../../scss/pages/responsive/classeResponsive/partials/_mainConteudoResponsive.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAQ;ACAR;EACI;EACA;;AACA;EACI;EACA;EACA;EACA;;;AAGR;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;;;AClBR;EACI;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAIR;EACI;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;;;AAMhB;EACI;EACA;EACA;EACA;EACA;EACA;;AAEI;EACI;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;;;AAKhB;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;;AAKR;EACI;IACI;;EAEA;IACI;;EAIR;IACI;IACA;IACA;IACA;IACA;IACA;IACA;;EAEA;IACI;;EAGJ;IACI;IACA;;;AChIZ;EACI;EACA;EACA;EACA;;;ACJJ;EACI;IACI;IACA;IACA;;EAEA;IACI;IACA;IACA;;EAIJ;IACI;IACA;IACA;;EAEA;IACI;IACA;IACA;;EACA;IACI;;EAEJ;IACI;IACA;IACA;IACA%22,%22file%22:%22classes.css%22%7D */
