.sectionQuatro{    
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 0 80px;
    height: 360px;

        h2{
            font-size: 40px;
            font-weight: bolder;
        }

        a{
            width: 200px;
            height: 50px;
            color: white;
            text-decoration: none;

            &:hover{
                background-color: rgba(255, 0, 0, 0.849);
            }
        }
}