@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}


h1, h2, p, h3, label, input, textarea, button{
    font-family: 'DM Sans';
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'DM Sans';
    background-color: #FF1010;
}

img{
    width: 490px;
    height: 400px;
    background-size: cover;
}

header{
    background-color: black;
    
    nav{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
        align-items: center;

        a{
            background-color: transparent;
            color: white;
            text-decoration: none;
            font-weight: 900;
        }

        .mobile-menu{
            cursor: pointer;
            display: none;
            
            div{
                width: 32px;
                height: 2px;
                background: #fff;
                margin: 8px;
            }
        }

        .logo{
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .nav-list{
            display: flex;
            gap: 35px;
            letter-spacing: 2px;
        }
    }
}

.textEButoonPadraoDoSite{   
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 0 80px;
    height: 360px;

        h2{
            font-size: 40px;
            font-weight: bolder;
        }

        a{
            width: 200px;
            height: 50px;
            color: white;
            text-decoration: none;

            &:hover{
                background-color: rgba(255, 0, 0, 0.849);
            }
        }
}

footer{
    height: 450px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 80px;

    .divWorking{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .divAdress{
        display: flex;
        flex-direction: column;
        margin-left: 30%;
        gap: 30px;
    }

}

@media screen and (max-width:540px){
    body{
        overflow-x: hidden;    
    }

    header{
        nav{
            .nav-list{
                position: absolute;
                top: 10vh;
                right: 0;
                width: 50vw;
                height: 92vh;
                background: white;
                color: white;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                transform: translateX(100%);
                transition: transform 0.3s ease-in;

                li{
                    margin-left: 0;
                    opacity: 0;
                }
            }
            
            .nav-list.active{
                transform: translateX(0);
            }

            .mobile-menu{
                display: block;
            }
        }
    }


    .textEButoonPadraoDoSite{
        padding: 0 15px;
        
        h2{
            font-size: 25px;
        }
    }

    footer{
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        height: 250px;
        padding-left: 20px;

        .divWorking{
            gap: 10px;
        }

        .divAdress{
            margin-left: 0;
            gap: 10px;
        }
    }
}