h1, h2, p, h3, label, input, textarea, button{
    font-family: 'DM Sans';
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'DM Sans';
    background-color: #FF1010;
}

img{
    width: 490px;
    height: 400px;
    background-size: cover;
}
