.sectionSeis{
    height: 450px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 80px;

    .divWorking{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .divAdress{
        display: flex;
        flex-direction: column;
        margin-left: 30%;
        gap: 30px;
    }

}