@media screen and (max-width:540px){
    .formulario{
        padding: 0 20px;
        justify-content: center;

        form div{
            align-items: center;
            max-width: 100vw;

            label{
                align-self: flex-start;
                margin-left: 27px;
                font-size: 20px;
            }

            input{
                font-size: 18px;
                height: 50px;
                width: 90%;
            }

            textarea{
                width: 90%;
            }

            button{
                font-size: 22px;
            }
        }
    }
}